:root{
    --mainColour:#eaeaea;
    --secondaryColour:#fff;
    --borderColour:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
  
    --mainBlue: #2a5d84; /* A blue tone that might resemble the sky in the image */
    --lightBlue: #b2c6d1; /* A lighter blue for a softer look that complements the main blue */
    --earthyTone: #745840; /* An earthy tone that could match the mountains */
    --cloudWhite: #f0f4f7; /* A soft white for background elements, akin to cloud colors */
  }

.header {
    width: auto;    
    margin: 5rem 5rem 2rem;
    padding: 1rem;
    display: flex;
    border-bottom: 2px solid var(--mainBlue);
  }

  .greeting-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 830px){
    .header{
      margin: 5rem 5rem 1.5rem;
      padding: 0.5rem;
    }
  }
  