body {
    margin: 0;
    height: 100vh;
    /* background: linear-gradient(#6b9903, #004d00); */
    background-color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 50px 15px 20px rgba(19, 51, 1, 0.322);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: darkgreen;
    font-size: 40px;
    font-weight: 700;
}

.underline{
    width: 60px;
    height: 6px;
    background-color: darkgreen;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
    padding-left: 60px;
}

.input input{
    background: transparent;
    height: 50px;
    width: 400px;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.register{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.register span{
    color: darkgreen;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background-color: darkgreen;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
