:root{
    --mainColour:#eaeaea;
    --secondaryColour:#fff;
    --borderColour:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
  
    --mainBlue: #2a5d84; /* A blue tone that might resemble the sky in the image */
    --lightBlue: #b2c6d1; /* A lighter blue for a softer look that complements the main blue */
    --earthyTone: #745840; /* An earthy tone that could match the mountains */
    --cloudWhite: #f0f4f7; /* A soft white for background elements, akin to cloud colors */
  }

.form {
    background-color: var(--mainBlue);
    padding: 1rem;
    width: 20rem;
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #eadbfb;
    font-weight: bold;
}

.form input,
.form textarea{
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #c4a9e4;
    color: #28262c;
}